.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-4);
    padding: 75px 0;
    overflow-x: hidden;
}

.about__container {
    width: min(1300px, 95%);
    height: max-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.about__img {
    width: 40%;
    height: max-content;
    position: relative;
    z-index: 1;
    rotate: -15deg;
    transform-origin: 0 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    img {
        width: 100%;
        border: 8px solid var(--bg-color-3);
        box-shadow: -7px -7px 20px 0px #0000009c;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: var(--bg-color-5);
        background-image: url("/src/img/asfalt-dark.png");
        height: 100%;
        width: 100%;
        top: -8px;
        left: -15px;
        z-index: -1;
        transform: rotate(-5deg);
        opacity: 0.7;

    }
}

.about__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    width: 60%;
    height: auto;
    padding: 0 15px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-in-out;

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        color: var(--text-color-3);
        text-decoration: underline;
    }

    p {
        font-size: min(0.85rem, 1.5vw);
        opacity: 0.8;
        font-family: "Montserrat", sans-serif;
    }

    .about__contentExpencience {
        width: 100%;
        background-color: var(--bg-color-3);
        padding: 15px;
        color: var(--text-color-2);

        p {
            opacity: 1;
            font-size: min(1rem, 1.5vw);
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
        }
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        color: var(--text-color-3);
        font-weight: bold;
        text-decoration: underline;
    }

    .about__specialtiesContainer {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
        background-color: var(--bg-color-3);
        padding: 15px;
        flex-wrap: wrap;

        .about__specialties {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            aspect-ratio: 1/1;
            object-fit: cover;
            width: min(80px, 20vw);
            height: min(80px, 20vw);

            .svg {
                width: 100%;
                height: 100%;

            }

            span {
                font-size: min(1rem, 1.5vw);
                font-family: "Montserrat", sans-serif;
                color: var(--text-color-2);
            }
        }
    }

    button {
        padding: 15px 20px;
        background: none;
        border: 1px solid var(--text-color-3);
        color: var(--text-color-3);
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
    }

}

@media (max-width:825px) {
    .about__specialties{
        width: 45% !important;

        span{
            font-size: 0.8rem !important;
        }

    }

    .about{
        p{
            font-size: 0.8rem !important;
        }
    }
}

@media (max-width:769px){
    .about__container{
        flex-direction: column;
    }
    .about__content{
        width: 100%;
    }

    .about__img{
        width: 70%;
    }
}