.header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.44) 100%);
    color: var(--text-color-1);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1400px, 95%);
    margin: auto;

    .h1 {
        font-family: "Montserrat", sans-serif;
    }

    .header__navContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .header__nav {
            display: flex;
            margin-right: 25px;
            scroll-target-group: auto;

            a {
                color: var(--text-color-1);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.781rem;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
                padding: 5px 10px;

                &:target-current,
                &:hover {
                    outline: 1px solid var(--border-color-1);
                }
            }

        }

    }
}

.header__socialContainer {
    button {
        background: none;
        border: none;
        color: var(--text-color-1);
        transition: 0.5s;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;

        i {
            font-size: 1.5rem;
            color: #fc01d0;
        }

        &:hover {
            background-color: var(--bg-color-2);
        }
    }

    .header__whatssap {
        i {

            color: #09fc01;
        }
    }
}

.header__checkbox {
    display: none;
}

.header__hamBtn {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    span {
        display: block;
        background-color: var(--text-color-1);
        height: 2px;
        width: 30px;
        transition: all 0.5s;
    }
}

.header__checkbox:checked+.header__hamBtn {
    span:nth-of-type(1) {
        transform: rotate(45deg) translateY(10px);
    }

    span:nth-of-type(2) {
        opacity: 0;
    }

    span:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
}

@media (max-width:768px) {
    .header__hamBtn {
        display: flex;
    }

    .header__navContainer {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color-4);
        flex-direction: column;
        padding: 5px;
        box-shadow: -3px 4px 17px 2px #00000069;
        pointer-events: none;
        transition: .3s;
        transform: scale(0);
        transform-origin: 100% 0;


        .header__nav {
            flex-direction: column;
            width: 100%;
            margin: auto;
            gap: 0;
        }

        .header__socialContainer {
            display: flex;
            justify-content: start;
            width: 100%;
            gap: 10px;
        }

    }

    .header__checkbox:checked~.header__navContainer {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
    }
}