@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Forum&family=Rubik:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --text-color-1: #ffffff;
  --text-color-2: #272727;
  --text-color-3: #bd9366;
  --bg-color-1: #000000;
  --bg-color-2: #303030;
  --bg-color-3: #bd9366;
  --bg-color-4: #1f1f1b;
  --bg-color-5: #dbdbdb;
  --border-color-1: #b9b9b98a;
}

body {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  overflow-x: hidden;
}

.showPhotos {
  transform: scale(1, 1) !important;
  opacity: 1 !important;
  rotate: inherit !important;
  transform: translateX(0) !important;
}
