.slider {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100dvh;
    aspect-ratio: 16/9;
}

.slider::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 1) 100%);
}

.slider__container {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
    }
}

.slider__container img:nth-child(1) {
    animation: slider 30s infinite;
    animation-delay: 0s;
}
.slider__container img:nth-child(2) {
    animation: slider 30s infinite;
    animation-delay: 3s;
}
.slider__container img:nth-child(3) {
    animation: slider 30s infinite;
    animation-delay: 6s;
}
.slider__container img:nth-child(4) {
    animation: slider 30s infinite;
    animation-delay: 9s;
}
.slider__container img:nth-child(5) {
    animation: slider 30s infinite;
    animation-delay: 12s;
}
.slider__container img:nth-child(6) {
    animation: slider 30s infinite;
    animation-delay: 15s;
}
.slider__container img:nth-child(7) {
    animation: slider 30s infinite;
    animation-delay: 18s;
}
.slider__container img:nth-child(8) {
    animation: slider 30s infinite;
    animation-delay: 21s;
}
.slider__container img:nth-child(9) {
    animation: slider 30s infinite;
    animation-delay: 24s;
}
.slider__container img:nth-child(10) {
    animation: slider 30s infinite;
    animation-delay: 27s;
}


@keyframes slider {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}